#app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 60vw;
  padding: 0px 10px 0px 10px;
  background-color: rgb(200, 200, 200);
}