p {
  display: inline;
}

p:hover {
  cursor: pointer;
}

#experience {
  display: flex;
  flex-direction: column;
}

#job-container {
  display: flex;
  flex-direction: column;
}

.job {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 20px;
  padding: 10px;
  /* border: 2px solid rgb(190, 190, 190); */
  border-radius: 14px;
  background-color: rgb(184, 184, 184);
}

.job:hover {
  box-shadow: 0px 2px 5px rgb(95, 95, 95);
  background-color: gray;
}

.job-inputs {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.remove-btn {
  grid-column: 2/3;
  height: 20px;
  width: 20px;
  align-self: flex-start;
}

.basic-inputs {
  grid-row: 1/2;
  grid-column: 1/5;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 2fr;
}

.job-time {
  grid-column: 1/2;
}

.job-title {
  grid-column: 2/3;
}

.job-location {
  grid-row: 2/3;
  grid-column: 2/3;
}

.task-container {
  grid-row: 2/3;
  grid-column: 2/6;
}

.task-textarea {
  display: flex;
  align-items: center;
}

.task-textarea textarea {
  width: 100%;
}

.remove-task-btn {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.new-task-btn {
  width: 187px;
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: flex-start;
}